In [31]:
class employee:
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
    def info(self):
        print("name==",self.name)
        print("salary==",self.salary)

name1="manoj"
salary1=10000
obj1=employee(name1,salary1)
obj1.info()

name== manoj
salary== 10000

In [33]:
class employee:
    emp=0
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
        employee.emp+=1
    def info(self):
        print("name==",self.name)
        print("salary==",self.salary)
    def totalemployees(self):
        print("total employees==",employee.emp)
        
name1="manoj"
salary1=10000
name2="kumar"
salary2=20000
obj1=employee(name1,salary1)
obj2=employee(name2,salary2)
obj1.info()
print(obj1.emp)
print(obj2.emp)
print(employee.emp)
obj2.totalemployees()

name== manoj
salary== 10000
2
2
2
total employees== 2

In [46]:
class employee:
    emp=0
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
        employee.emp+=1
    def info(self):
        print("name==",self.name)
        print("salary==",self.salary)
    # @classmethod
    # def totalemployees(employee):
    #     print("total employees==",employee.emp)
        
name1="manoj"
salary1=10000
name2="kumar"
salary2=20000
obj1=employee(name1,salary1)
obj2=employee(name2,salary2)
obj1.info()
print(obj1.emp)
print(obj2.emp)
print(employee.emp)
employee.emp=7
print(obj1.emp)
print(obj2.emp)
print(employee.emp)
# obj2.totalemployees()

name== manoj
salary== 10000
2
2
2
7
7
7

In [43]:
class employee:
    emp=0
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
        employee.emp+=1
    def info(self):
        print("name==",self.name)
        print("salary==",self.salary)
    # @classmethod
    # def totalemployees(employee):
    #     print("total employees==",employee.emp)
        
name1="manoj"
salary1=10000
name2="kumar"
salary2=20000
obj1=employee(name1,salary1)
obj2=employee(name2,salary2)
obj1.info()
print(obj1.emp)
print(obj2.emp)
print(employee.emp)
employee.emp=7
print(obj1.emp)
print(obj2.emp)
print(employee.emp)
# obj2.totalemployees()

Drink
Coffee

In [55]:
class employee:
    emp=0
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
        employee.emp=1
    def info(self):
        print("name==",self.name)
        print("salary==",self.salary)
    @classmethod
    def totalemployees(employee):
        print("total employees==",employee.emp+self.salary)
        
name1="manoj"
salary1=10000
name2="kumar"
salary2=20000
obj1=employee(name1,salary1)
obj2=employee(name2,salary2)
obj1.info()
obj2.id=9
del obj2.id
print(obj1.emp)
print(obj2.emp)
print(employee.emp)
employee.emp=7
print(obj1.emp)
print(obj2.emp)
print(employee.emp)
# obj2.totalemployees()

name== manoj
salary== 10000
1
1
1
7
7
7

In [54]:
class geeks:
    course = 'DSA'
  
    def purchase(obj):
        print("Puchase course : ", obj.course)
geeks.purchase = classmethod(geeks.purchase)
geeks.purchase()

AttributeError: 'int' object has no attribute 'course'

In [56]:
# Python program to demonstrate
# use of a class method and static method.
from datetime import date

class Person:
	def __init__(self, name, age):
		self.name = name
		self.age = age

	# a class method to create a
	# Person object by birth year.
	@classmethod
	def fromBirthYear(cls, name, year):
		return cls(name, date.today().year - year)

	# a static method to check if a
	# Person is adult or not.
	@staticmethod
	def isAdult(age):
		return age > 18

person1 = Person('mayank', 21)
person2 = Person.fromBirthYear('mayank', 1996)

print(person1.age)
print(person2.age)

# print the result
print(Person.isAdult(22))

21
25
True

In [59]:
class Point:
    def __init__( self, x=0, y=0):
        self.x = x
        self.y = y
    def __del__(self):
        class_name = self.__class__.__name__
        print(class_name, "destroyed")
pt1 = Point()
pt2 = pt1
pt3 = pt1
print(id(pt1), id(pt2), id(pt3)) # prints the ids of the obejcts
del pt1
del pt2
del pt3

2205609271504 2205609271504 2205609271504
Point destroyed

inheritance </br> class</br>

In [70]:
class a:
    xyz=6
    def __init__(self):
        self.x=1
        self.y=2
        self.z=3
class b(a):
    pass
b1=b()
a1=a()
#instance object
print(b1.x)
print(b1.y)
print(b1.z)

#class object
print(b1.xyz)

b1.xyz=66
print(b1.xyz)

print(a1.xyz)

1
2
3
6
66
6

In [74]:
class a:
    xyz=6
    def __init__(self,x,y,z):
        self.x=x
        self.y=y
        self.z=z
class b(a):
    def __init__(self,x,y,z,n):
        super().__init__(x,y,z)
        self.n=n
b1=b(6,7,8,9)
#instance object
print(b1.x)
print(b1.y)
print(b1.z)
print(b1.n)

6
7
8
9

In [76]:
class a:
    xyz=6
    def __init__(self,x,y,z):
        self.x=x
        self.y=y
        self.z=z
class b(a):
    def __init__(self,x,y,z,n):
        a.__init__(self,x,y,z)
        self.n=n
b1=b(6,7,8,9)
#instance object
print(b1.x)
print(b1.y)
print(b1.z)
print(b1.n)

6
7
8
9

In [85]:

class a:
    xyz=6
    def __init__(self,x,y,z):
        self.x=x
        self.y=y
        self.z=z
class c:
    xyz=6
    def __init__(self,xt,yt):
        self.xt=xt
        self.yt=yt
class b(a,c):
    def __init__(self,x,y,z,xt,yt,n):
        super().__init__(x,y,z)
        c.__init__(self,xt,yt)
        self.n=n
b1=b(6,7,8,9,10,11)
#instance object
print(b1.x)
print(b1.y)
print(b1.z)
print(b1.n)
print(b1.xt)
print(b1.yt)

6
7
8
11
9
10

In [86]:
n=4
nt=[[False for i in range(n)] for i in range(n)]
nt

[[False, False, False, False],
 [False, False, False, False],
 [False, False, False, False],
 [False, False, False, False]]

In [98]:
class Solution(object):
    def solveNQueens(self, n):
        """
        :type n: int
        :rtype: List[List[str]]
        """
        self.ret=[]
        self.count=0
        arr=[[False for i in range(n)] for i in range(n)]
        self.traverse(n,arr[:],0)        
        return(self.count)
    def traverse(self,n,mat,pos):
        if(pos==n):
            self.count+=1
            return
        for i in range(n):
            if(mat[pos][i]==False):
                arr=mat[:]
                arr[pos][i]=True
                for x in range(n):
                    arr[pos][x]=True
                for y in range(n):
                    arr[y][pos]=True
                c=i
                r=pos
                while(r>0 and c>0):
                    r-=1
                    c-=1
                    arr[r][c]=True
                c=i
                r=pos
                while(r<n-1 and c<n-1):
                    r+=1
                    c+=1
                    arr[r][c]=True
                c=i
                r=pos
                while(r>0 and c<n-1):
                    r-=1
                    c+=1
                    arr[r][c]=True
                c=i
                r=pos
                while(r<n-1 and c>0):
                    r+=1
                    c-=1
                    arr[r][c]=True
                self.traverse(n,arr,pos+1)

In [99]:
obj=Solution()
print(obj.solveNQueens(4))

0

In [93]:
arr.append([4,5,6])

In [94]:
mat

[[2, 3], [4, 4, 4]]